@page
@model IndexModel
@{
    ViewData["Title"] = "Chat Application";
}

<script>
    window.location.href = '/chat';
</script>

<div class="text-center">
    <h1>Redirecting to Chat...</h1>
    <p>If you are not redirected, <a href="/chat">click here</a>.</p>
</div>
